ion-searchbar {
    --color: var(--ion-color-tertiary);
    --icon-color: var(--ion-color-secondary);
}

ion-virtual-scroll {
    margin-bottom: 20px;
}

ion-item {
    height: 60px;
}

ion-thumbnail {
    margin: 4px 0 0;
}

ion-img {
    width: 50px;
    height: 50px;
}

ion-label {
    margin: 8px 0 7px;
}

// Remove shadow from ion-header.
.header-md:after, .header-ios:after {
    height: 0;
    background-image: none;
}
