<ion-header>
  <ion-searchbar (ionChange)="onChange($event)"
                 (keyup.enter)="onEnter($event)"
                 debounce="600"
                 placeholder="Zoeken">
  </ion-searchbar>
</ion-header>

<ion-content fullscreen>
  <ion-virtual-scroll *ngIf="hocklubs.length" [items]="hocklubs"
                      approxItemHeight="70px" [@slideInOut]="loadingState">
    <ion-item *virtualItem="let hocklub"
              [routerLink]="'/hockdetail/' + hocklub.id" routerDirection="forward"
              lines="none">
      <ion-thumbnail item-start>
        <ion-img [src]="'https://hockey.nl' + hocklub.logo"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ hocklub.name }}</h2>
        <p>{{ hocklub.city }}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
  
  <ion-item *ngIf="!hocklubs.length" lines="none" text-center>
    <ion-label>Er zijn geen clubs om weer te geven.</ion-label>
  </ion-item>
</ion-content>
