<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="hocklub">{{ hocklub.name }}</ion-title>
    <ion-title *ngIf="!hocklub">Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="hocklub">
    <ion-card-header *ngIf="hocklub.logo">
      <ion-img [src]="hocklub.logo" alt="Clublogo {{ hocklub.name }}"></ion-img>
    </ion-card-header>

    <ion-item *ngIf="hocklub.street" [routerLink]="'/tabs/hockmap/' + hocklub.id"
              routerDirection="forward" detail>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-note>Adres</ion-note>
        <br />
        {{ hocklub.street }}
        <br />
        {{ hocklub.postal_code }} {{ hocklub.city }}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="hocklub.phone" href="tel:{{ hocklub.phone }}" detail>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-note>Telefoon</ion-note>
        <br />{{ hocklub.phone }}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="hocklub.email" href="mailto:{{ hocklub.email }}" detail>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-note>E-mail</ion-note>
        <br />{{ hocklub.email }}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="hocklub.website" (click)="goToWebsite()" button detail>
      <ion-icon name="desktop" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-note>Website</ion-note>
        <br />{{ hocklub.website }}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="hocklub.outfit">
      <ion-icon name="shirt" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-note>Tenue</ion-note>
        <br />{{ hocklub.outfit }}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="hocklub.pitches">
      <ion-icon name="grid" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-note>Velden</ion-note>
        <br />{{ hocklub.pitches }}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="hocklub.founded">
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-note>Opgericht</ion-note>
        <br />{{ hocklub.founded }}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="hocklub.members">
      <ion-icon name="body" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-note>Leden</ion-note>
        <br />{{ hocklub.members }}
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="!hocklub">
    <ion-card-header>
      <ion-img id="no-hocklub-card" [src]="defaultLogo"></ion-img>
    </ion-card-header>

    <ion-item id="no-hocklub-message" lines="none">
      <ion-label text-wrap>
        Selecteer een club van de lijst of kaart om details daarvan hier weer te geven.
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
